.baseInputs {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  background: #0000007c;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

.baseInputs select {
  max-width: 210px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.ViewerMap {
  overflow: hidden;
  position: relative;
}
